
{% extends 'base2.html' %}

{% block title%}Página Inicial - Home {% endblock title %}

{% block content %}
    <header class="bg-primary">
        <div class="container my-auto d-block h-100">

            <div class="row h-100 align-items-center">
                <div class="col-md-6 col-sm-12">
                    <h1 class="display-4 font-weight-bold text-white"> Carteira Virtual</h1>
                    <h2 class="text-grey font-weight-light"> Sistema desenvolvido para eu aprender a programar em Django </h2>
                    <div class="col row mt-3">
                        <button type="button" class="btn btn-primary">Cadastrar</button>
                        <a href="{% url 'login' %}" type="button" class="btn btn-outline-secondary ml-3">Entrar</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <!-- {% load static %} -->
                    <img src="{% static '/assets/img/img-index.svg' %}" alt="" id="img-index">
                </div>
            </div>
        </div>

    </header>



    <!-- <div class="row col">

    </div> -->

{% endblock content %}